<h1>About <%= @project.name %>...</h1>
<p>Tech Stack: <%= @project.tech_stack %></p>
<p><%= @project.description %></p>



<%= link_to 'Delete', project_path(@project),  method: :delete, data: { confirm: 'Are you sure?'  } if logged_in? %>
<%= link_to 'Edit', edit_project_path(@project) if logged_in? %>
