<!DOCTYPE html>
<html>
  <head>
    <title>Faye Myrette Hayes | Full Stack Developer </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag( '//fonts.googleapis.com/css?family=Josefin+Sans' ) %>
    <%= stylesheet_link_tag( '//fonts.googleapis.com/css?family=Barlow' ) %>
    <%= stylesheet_link_tag( '//fonts.googleapis.com/css?family=Kaushan+Script' ) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="cus-container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/nav' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
