<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <nav>
    <% if !logged_in? %>
      <a href="<%= login_path %>">Log In</a>
    <% else %>
     <a href="/logout"> Log out</a>
    <% end %>
  </nav>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
